@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --neon-text-color: #0fa;
  --faded-white: rgba(255,255,255,.18);
}

.neon {
  color: #fff;
  text-shadow:
    -0.2rem -0.2rem 1rem #fff,
    0.2rem 0.2rem 1rem #fff,
    0 0 1rem var(--neon-text-color),
    0 0 2rem var(--neon-text-color),
    0 0 4rem var(--neon-text-color);
}

.glass {
  backdrop-filter: blur(6px);
}

.button {
  border: 1px solid var(--faded-white);
  box-shadow: 0 0 0 1px rgba(0,0,0,.18);
  text-shadow: 1px 1px var(--faded-white);
}

.drop-shadow-faded-white {
  filter: drop-shadow(1px 1px var(--faded-white));
}

.text-shadow-1 {
  text-shadow: 1px 1px black;
}

p {
  font-size: 21px;
}