@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  html {
    background: theme('colors.accent');
  }

  a {
    text-decoration: underline;
  }

  .flex-center {
    @apply flex;
    @apply justify-center;
    @apply items-center;
  }
  .absolute-full {
    @apply absolute;
    @apply top-0;
    @apply left-0;
    @apply right-0;
    @apply bottom-0;
  }

  .text-shadow-accent {
    text-shadow: 1px 1px theme('colors.accent');
  }
  .text-shadow-tpWhite {
    text-shadow: 1px 1px theme('colors.tpWhite');
  }
  .text-shadow-tpBlack {
    text-shadow: 1px 1px theme('colors.tpBlack');
  }
  .text-shadow-6 {
    text-shadow: 
      1px 1px #18082e, 2px 2px #18082e, 3px 3px #18082e;
  }
  .text-shadow-duo {
    text-shadow: -1px -1px theme('colors.tpBlack'), 1px 1px theme('colors.tpWhite');
  }

  .glass {
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    @apply bg-accentWhite bg-opacity-50;
  }

  .glass-dark {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    @apply bg-accentDark bg-opacity-80;
  }

  .shadow-asBorder {
    box-shadow: 0 0 0 1px theme('colors.tpBlack');
  }

  .border-sexy {
    box-shadow: 0 0 0 1px theme('colors.tpBlack');
    @apply border border-tpWhite;
  }

  input::placeholder, textarea::placeholder {
    color: theme('colors.placeholder');
    @apply text-xl;
  }

}

:root {
  --neon-text-color: #0fa;
}

.neon {
  color: #fff;
  text-shadow:
    -0.2rem -0.2rem 1rem #fff,
    0.2rem 0.2rem 1rem #fff,
    0 0 1rem var(--neon-text-color),
    0 0 2rem var(--neon-text-color),
    0 0 4rem var(--neon-text-color);
}